* {
    max-width: 100vw;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

.App {
    font-family: sans-serif;
    text-align: center;
    color: #fff;
}

button {
    cursor: pointer;
}

.file-uploader {
    display: grid;
    width: max-content;
    height: max-content;
    justify-content: center;
}

.visualizer {
    display: grid;
    width: max-content;
    height: max-content;
    justify-content: center;
    margin-top: 50px;
    margin-left: -10px;
}

.file-uploader input {
    display: none;
}

.file-uploader .select-btn {
    width: 450px;
    height: 200px;
    background-color: #eeddffaa;
    border: 2px solid orchid;
    border-radius: 20px;
}

.file-uploader .submit-btn {
    background: linear-gradient(70deg, #ff0, #fde);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    margin-top: 10px;
}

.file-uploader .submit-btn[disabled] {
    background: linear-gradient(70deg, #ab5, #a85);
}

.main {
    display: grid;
    justify-content: center;
}